<form action="/auth" method="post">
<center>
<h1>Авторизация</h1>
<div>
<p>Логин<p>
<input type="text" size="40">
<p>Пароль<p>
<input type="password" size="40">
<div></div><button type="submit" value="Войти">Войти</button></div>
</div>      
</center>
</form>




